<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /amp/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /amp/index.html [L]
</IfModule>